body {
    background-image: url("https://assets.change.org/photos/0/je/ws/DfjEWsdfwKdZxRg-800x450-noPad.jpg?1514563082");


    height: 100vh;
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 15% 10% 15% 50% 10%;
    grid-template-areas:

        "titulo titulo",
        "menu menu",
        "filtro filtro",
        "contenido contenido",
        "footer footer"
    ;



}





.cuerpoOrg {
    display: grid;
    grid-area: "contenido";
    flex-direction: row;

    justify-content: space-around;
    background-color: white;
    flex-wrap: wrap;
}

.filtro {
    grid-area: "filtro";
}


header {
    grid-area: "titulo";
}

head {
    grid-area: "menu";
    margin: 20%;
}


footer {
    grid-area: "footer";
}

.navbar-nav {
    color: black;
}