body {
    background-image: url("https://i.pinimg.com/originals/78/a0/ac/78a0acb28ffd134d016cd21ea690ba69.jpg");

    height: 100vh;
}

#web{

    display: flex;


}


#cuerpoOrg {
    display: flex;
    grid-area: "contenido";
    flex-direction: row;

    justify-content: space-around;
    flex-wrap: nowrap;
  
 
}

.filtro {
    grid-area: "filtro";
    background-color: white;
    padding-bottom: 10px;

}


.destacado{
    background-color: yellow;
}

header {
    grid-area: "titulo";
}

.menu {
    grid-area: "menu";
    margin: 5%;
}


footer {
    grid-area: "footer";
}

.navbar-nav {
    color: black;
}