body {
    background-image: url("https://i.pinimg.com/originals/78/a0/ac/78a0acb28ffd134d016cd21ea690ba69.jpg");

    height: 100vh;
}

.web{

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 15% 10% 15% 55% 5%;
    grid-template-areas:

        "titulo titulo",
        "menu menu",
        "filtro filtro",
        "contenido contenido",
        "footer footer"
    ;

}


.cuerpoOrg {
    display: flex;
    grid-area: "contenido";
    flex-direction: row;

    justify-content: space-around;
    flex-wrap: nowrap;
}

.filtro {
    grid-area: "filtro";
    background-color: white;
    padding-bottom: 10px;

}


header {
    grid-area: "titulo";
}

.menu {
    grid-area: "menu";
    margin: 5%;
}


footer {
    grid-area: "footer";
}

.navbar-nav {
    color: black;
}