body{
    background-color: indigo;
}

h2{
    color: white;
    text-align: center;
}

label{
    color: white;
}

.form-org{
    text-align: center;
}

.info-solicitud{
    text-align: center;
}

.mapas{ 
    margin-left: auto;
    margin-right: auto; 
}

