body{
    background-color: wheat;
    text-align: center;
}

.page{
    text-align: center;
    align-items: center;
}

ul{
    text-align: center;
}

label{
    color: black;
}

#map{
    height: 500px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
